VacancyWebService/src/main/webapp/wsdl/VacancyServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://impl.service.vacancywebservice.app.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://impl.service.vacancywebservice.app.com" xmlns:intf="http://impl.service.vacancywebservice.app.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4.1-SNAPSHOT
Built on Nov 07, 2023 (07:57:58 UTC)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://impl.service.vacancywebservice.app.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="fetchVacancies">
    <complexType/>
   </element>
   <element name="fetchVacanciesResponse">
    <complexType>
     <sequence>
      <element name="fetchVacanciesReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="fetchVacanciesResponse">

      <wsdl:part element="impl:fetchVacanciesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fetchVacanciesRequest">

      <wsdl:part element="impl:fetchVacancies" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="VacancyServiceImpl">

      <wsdl:operation name="fetchVacancies">

         <wsdl:input message="impl:fetchVacanciesRequest" name="fetchVacanciesRequest">

       </wsdl:input>

         <wsdl:output message="impl:fetchVacanciesResponse" name="fetchVacanciesResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="VacancyServiceImplSoapBinding" type="impl:VacancyServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="fetchVacancies">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fetchVacanciesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="fetchVacanciesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="VacancyServiceImplService">

      <wsdl:port binding="impl:VacancyServiceImplSoapBinding" name="VacancyServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/VacancyWebService/services/VacancyServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
